{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 140,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": [".prettierrc", "*.json"],
      "options": { "parser": "json", "tabWidth": 2 }
    },
    {
      "files": [".travis.yml", "*.yml", "*.yaml"],
      "options": { "tabWidth": 2 }
    }
  ]
}
